<!-- ====================================== Form View ====================================== -->
<article class="view" id="aboutView">
   <style scoped>
      .val {
         color: #5bc0de;
      }
   </style>
   <div class="content pad">      
      <section class="pad">
         <header class="pad-b">
            <i class="fa fa-bookmark"></i> About
         </header>

         <div class="panel">
            <div class="pad text-center">
                <h3>Futura 0.0.1</h3>
                <br/>
                Designed & Developed
                <br/>
                <span> by </span>
                <br/>
                <h3>Gopi</h3>   
            </div>
            <br/>
            <br/>
            <br/>

            <div class="text-center">
             <span class="text-x-small">Gopi Creations</span>
             
             <br/>
             <br/>
             <span class="text-x-small mailto-color"> Feedback: <a class="mailto-color" href="mailto:gopi.kori@gmail.com">gopi.kori@gmail.com</a>  
             
             </span>
            </div>
            
         </div>
      </section>
   </div>
   <script src="js/about.js"> </script>
</article>